<h2>All Heroines</h2>

<ul>
  <% @heroines.each do |heroine| %>
    <li>
      
      Name : <%= heroine.super_name %> <br>
      Super Name: <%= link_to heroine.super_name, heroine %>
    </li>
    <br>
  <% end %>
</ul>
Create New Heroine : <%=link_to 'Create', new_heroine_path %>